<div class="container">

  <mat-card>

    <mat-card-header>
      <mat-card-title>EDITAR AVATAR</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content-hd">

      <div class="inputs">

        <mat-form-field appearance="fill">
          <mat-label>Saúde atual:</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Armadura atual:</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fome atual:</mat-label>
          <input matInput type="number">
        </mat-form-field>

      </div>

      <div class="inputs">

        <mat-form-field appearance="fill" class="inputText">
          <mat-label>Titulo atual:</mat-label>
          <input matInput type="text" placeholder="Helium">
        </mat-form-field>

      </div>

      <div class="inputs">

        <mat-form-field appearance="fill" class="inputText">
          <mat-label>Trabalho atual:</mat-label>
          <input matInput type="text" placeholder="Carpinteiro">
        </mat-form-field>

      </div>

      <div class="radio">
        <mat-radio-group aria-label="option">
          <div>
            <span>Líder:</span>
          </div>
          <mat-radio-button value="true">Sim</mat-radio-button>
          <mat-radio-button value="false">Não</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="inputs">

        <mat-form-field appearance="fill">
          <mat-label>Experiência:</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Dinheiro:</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Pontos de status</mat-label>
          <input matInput type="number">
        </mat-form-field>

      </div>

      <div class="inputs">

        <mat-form-field appearance="fill">
          <mat-label>Força:</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Resistência:</mat-label>
          <input matInput type="number">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Agilidade:</mat-label>
          <input matInput type="number">
        </mat-form-field>

      </div>

      <div class="inputs">

        <mat-form-field appearance="fill">
          <mat-label>Precisão</mat-label>
          <input matInput type="number">
        </mat-form-field>

      </div>

      <div>
        <button mat-raised-button color="primary" class="butAtualizar">Atualizar</button>
      </div>

    </mat-card-content>

  </mat-card>

</div>
