  <div class="container">
  <div class="mat-elevation-z8">
    <table class="table table-hover">

      <thead class="t-header">
          <tr class="bg-dark text-light">
              <th>#</th>
              <th>Nome</th>
              <th>Compartilhado</th>
              <th>Doenças</th>
              <th>Dinheiro inicial</th>
              <th>Status inicial</th>
              <th>Ações</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let srvs-list of srvs" >
              <td>{{id}}</td>
              <td>{{name}}</td>
              <td>{{shared}}</td>
              <td>{{hasDisease}}</td>
              <td>{{initialMoney}}</td>
              <td>{{initialStatsPoints}}</td>
              <td class="align-center" style="white-space: nowrap;width: 1%;">
                <button type="button"  class="btn btn-outline-dark btn-sm mr-1">Editar Servidor</button>
                <button type="button" class="btn btn-outline-dark btn-sm mr-1">Selecionar Servidor</button>
              </td>
          </tr>
      </tbody>
  </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
