.container{
    background-image: url("/assets/fundo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:auto;
    height:100%;

}

.mat-elevation-z8 {
  width: 60%;
  position: relative;
  margin: 0 auto;
  top: 30%;
  /*
  height: 340px;
  overflow-y: auto;
  overflow-x: hidden;
  */
}

table{
  width:100%;
  background:none;
}
td{
  background-color: white;
  opacity: 0.8;
  padding:10px;
}

tbody {
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

#t-header{
  background-color: white;
  opacity: 0.8;

}

.mat-button{
  float: right;
}
.caption{
  background: rgba(0, 154, 255, 0.8);
  color: white;
}

#servidores{
  float: left;
  font-size:24px;
  font-weight: bold;
  margin:10px;
  margin-top:20px;
}

.add{
  background-color:#05BC4E;
  margin:10px;

}
.icone{
  height:15px;
  width: auto;
  padding:5px;
}
.paginator{
  background-color: white;
  opacity: 0.8;
  margin-top:0;
  padding:5px;
}
::ng-deep .ngx-pagination {
  display: flex !important;
  justify-content: flex-end !important;
}

