.main {
  width: 470px;
  height: 500px;
  top: 106px;
  left: 35%;
  border-radius: 10px;
  color: rgb(131, 131, 131) 70%;
  padding: 60px;
  background: rgba(255, 255, 255, 0.7);
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

h1{
  color: #5F5F5F;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2.5em;
  line-height: 40px;
}

mat-form-field {
  width: 100%;
}

.btn {
  width: 100%;
  margin-top: 30px;
  height: 50px;
  font-size: 27px;
  letter-spacing: 2px;
  color: white;
  transition: 0.2s;
  font-weight: 500;
  background-image: linear-gradient(268.62deg, #63C1FF -16.71%, #0A78BE 83.29%);
  border-radius: 5px;
}

.btn:hover {
  background-position: right center;
  background-image: linear-gradient(268.62deg, #0A78BE -16.71%, #63C1FF 83.29%);
  font-size: 28px;
}
