* {
  padding:0;
  margin:0;
}
.box{
  background-image: url('../../../../assets/img/fundo.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;


}
.example-card{
  width: 488px;
  height: 564px;
  background-color: rgba(255,255,255,0.7);
  border-radius: 10px;
  position: relative;
  left: 439px;
  top:46px;
}
mat-card-title{
  padding-top: 61px;
  padding-left: 134px;
  font-size: 27px;
  font-weight: 500;
  color: #5F5F5F;
}


button{
  width: 379px;
  height: 40px;
  background-image: linear-gradient( to right,#0A78BE -10%,#63C1FF
  );
}
.btn-section{
  padding-top: 28.23px;
}

.form {
  padding-top: 100px;
  padding-left: 55px;
  width: 379px;
  display:flex;
  flex-direction: column;
}


.example-full-width {
  width: 100%;
}
.radio{
  margin-right: 10px;
}
.radio-group{
  margin-bottom: 10px;
}

