<form class="form-inline" (ngSubmit)="addrowTable()" >
  <div class="form-group">
    <label for="title">Título</label>
    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="model.title" >
  </div>
  <div class="form-group">
    <label for="level">Level</label>
    <input type="number" class="form-control" id="level" name="level" [(ngModel)]="model.level">
  </div>
  <div class="form-group">
    <label for="exp">Level</label>
    <input type="number" class="form-control" id="exp" name="exp" [(ngModel)]="model.exp">

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--<table mat-table [dataSource]="myDataArray" >

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Título </th>
    <td mat-cell *ngFor="let exp of exp" > {{exp.title}} </td>
  </ng-container>

  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Level</th>
    <td mat-cell *ngFor="let exp of exp" > {{exp.level}} </td>
  </ng-container>

  <ng-container matColumnDef="exp">
    <th mat-header-cell *matHeaderCellDef> Experiência </th>
    <td mat-cell *ngFor="let exp of exp"> {{exp.exp}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>-->
<table class="table">
  <thead>
    <tr>
      <th style="width: 200px;">Título</th>
      <th style="width: 200px;">Level</th>
      <th style="width: 200px;">Exp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let experience of experience; let i=index" >
      <td>{{ experience.title }}</td>
      <td>{{ experience.level }}</td>
      <td>{{ experience.exp }}</td>
      <td>
        <a class="btn btn-success" >Edit</a>
        <a class="btn btn-danger" (click)="delrowTable(i)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-success" (click)="saveExpTable()">Enviar</a>
