<section class="box">
<mat-card class="example-card">
<mat-card-header>Adicionar Tabela de Experiência</mat-card-header>
<form class="formulario" (ngSubmit)="addrowTable()" >
  <div class="form-group">
    <label for="title"></label>
    <input type="text" id="title" name="title" [(ngModel)]="model.title" >
  </div>
  <div class="form-group">
    <label for="level"></label>
    <input type="number" id="level" name="level" [(ngModel)]="model.level">
  </div>
  <div class="form-group">
    <label for="exp"></label>
    <input type="number" id="exp" name="exp" [(ngModel)]="model.exp">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>


<table class="table">
  <thead>
    <tr>
      <th style="width: 200px;">Título</th>
      <th style="width: 200px;">Level</th>
      <th style="width: 200px;">Exp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let experience of experience; let i=index" >
      <td>{{ experience.title }}</td>
      <td>{{ experience.level }}</td>
      <td>{{ experience.exp }}</td>
      <td>
        <a class="btnEdit" (click)="editrowTable(i)">Edit</a>
        <a class="btnDelete" (click)="delrowTable(i)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <form class="formulario">
    <div class="form-group">
      <label for="title"></label>
      <input type="text" id="title" name="title" [(ngModel)]="model2.title" >
    </div>
    <div class="form-group">
      <label for="level"></label>
      <input type="number" id="level" name="level" [(ngModel)]="model2.level">
    </div>
    <div class="form-group">
      <label for="exp"></label>
      <input type="number" id="exp" name="exp" [(ngModel)]="model2.exp">
    </div>
    <button type="submit" class="btn btn-primary" (click)="updateRow()">Alterar</button>
  </form>
</div>
<div *ngIf="msg" >
  <a (click)="clickme()">X</a>
  {{ msg }}
</div>
<button (click)="saveExpTable()">Salvar Tabela de Exp</button>
</mat-card>


</section>
