.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  min-width: 500px;
  max-width: 900px;
  padding: 0px 0px 0px 0px;
  background: rgba(255, 255, 255, 0);
}

mat-card-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 154, 255, 0.8)
}

mat-card-title, h1{
  padding-top: 10px;
  padding-left: 10px;
  letter-spacing: 0.1em;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}

.btn-group {
  padding-top: 15px;
  padding-right: 30px;
}

.btn-1 {
  margin-right: 30px;
}

.btn-2 {
  background-color: #05BC4E;
  color: white;
}

table {
  width: 100%;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.3);
}

th {
  font-size: 1.1em;
  font-weight: bold;
  color: rgb(59, 59, 59);
}

.edit {
  color: #009AFF;
}

.delete {
  color: rgb(255, 115, 0);
  border: none;
}

.mat-paginator {
  background: rgba(255, 255, 255, 0.7);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 47%;
  top: 40%;
}
