<div class="main">
  <mat-card class="container">

    <mat-card-header>
      <mat-card-title>
        <h1>USUÁRIOS</h1>
      </mat-card-title>
      <div class="btn-group">
        <button class="btn-1" color="warn" mat-raised-button (click)="openDeleteManyDialog(selection.selected)">
          <mat-icon matPrefix>remove_user</mat-icon>
          Excluir
        </button>

        <button class="btn-2" color="" mat-raised-button (click)="openAddDialog()">
          <mat-icon matPrefix>add_user</mat-icon>
          Adicionar
        </button>

      </div>
    </mat-card-header>

    <div *ngIf="!users" class="msg">
      <p >Nenhum usuário disponível</p>
    </div>

    <table *ngIf="users" id="table" mat-table [dataSource]="users | paginate : { id: 'users',
                                                        itemsPerPage: pageSize,
                                                        currentPage: p,
                                                        totalItems: users.length}">

      <!-- Coluna checkbox -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef width="10%">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && allSelected"
            [indeterminate]="selection.hasValue() && !allSelected" [aria-label]="checkboxLabel()" color="primary">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)" color="primary">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Coluna Nome -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef width="20%"> Nome </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>

      <!-- Coluna Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <!-- Coluna Permissão -->
      <ng-container class="text-center" matColumnDef="permission">
        <th class="text-center" mat-header-cell *matHeaderCellDef width="20%"> Permissão </th>
        <td class="text-center" mat-cell *matCellDef="let user"> {{user.permission}} </td>
      </ng-container>

      <!-- Coluna Ações -->
      <ng-container class="text-center" matColumnDef="actions" class="lastone">
        <th class="text-center" mat-header-cell *matHeaderCellDef width="15%">Ações </th>
        <td class="text-center" mat-cell *matCellDef="let user">
          <button class="btn-edit"
            (click)="openEditDialog(user.id, user.name, user.email, user.password, user.permission, user.serverId)">
            <i class="material-icons edit">edit</i>
          </button>
          <button class="btn-delete" (click)="openDeleteDialog(user.id)">
            <i class="material-icons delete">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>

    </table>

    <pagination-controls  id="users"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      maxSize="4"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="Anterior"
                      nextLabel="Próximo"
                      screenReaderPaginationLabel="Paginação"
                      screenReaderPageLabel="página"
                      screenReaderCurrentLabel="Você está na página"
                      class="pagination-controls">
    </pagination-controls>

  </mat-card>

</div>

<div class="loading-shade" *ngIf="showSpinner">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
