<button class="btn-x" mat-dialog-close>X</button>

<div class="main">
  <mat-card-header>
    <h1>
      EDITAR USUÁRIO
    </h1>
    <div class="btn-x-header">
    </div>
  </mat-card-header>
  <mat-dialog-content>
    <form #f="ngForm">
      <div>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input type="text" matInput placeholder="" name="name" [(ngModel)]="user.name" required #name="ngModel">
          <mat-error *ngIf="name.invalid">
            <mat-error *ngIf="name.errors.required">Nome obrigatório</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput placeholder="pat@example.com"
            name="email"
            pattern="^\S+@\S+$"
            [(ngModel)]="user.email"
            #email="ngModel"
            required
          >
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.invalid">
            <mat-error *ngIf="email.errors.required">E-mail obrigatório</mat-error>
            <mat-error *ngIf="email.errors.pattern">E-mail inválido</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input type="password" matInput placeholder="" name="password" (ngModel)="user.password" #password="ngModel" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="password.invalid">
            <mat-error *ngIf="password.errors.required">Senha obrigatório</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Confirmar Senha</mat-label>
          <input type="password" matInput placeholder="" name="confirm"  (ngModel)="confirmPassword" #confirm="ngModel" required [equalTo]="password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="confirm.invalid">
            <mat-error *ngIf="confirm.errors.equalTo">As senhas estão diferentes</mat-error>
          </mat-error>
          <span class="confirm" *ngIf="confirm.valid && confirm.touched">Senhas válidas</span>
        </mat-form-field>
      </div>
      <div *ngIf="currentUser.permission >= 1" class="radio">
        <mat-form-field>
          <mat-label>Nível de permissão:</mat-label>
          <mat-select>
            <mat-option value="0">Moderador</mat-option>
            <mat-option *ngIf="currentUser.permission >= 1" value="1">Administrador</mat-option>
            <mat-option *ngIf="currentUser.permission >= 2" value="2">Gerente</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-radio-group color="primary" name="permission" [(ngModel)]="user.permission" #permission required>
          <mat-radio-button value="0">0</mat-radio-button>
          <mat-radio-button *ngIf="user.permission >= 1" value="1">1</mat-radio-button>
          <mat-radio-button *ngIf="user.permission >= 2" value="2">2</mat-radio-button>
        </mat-radio-group> -->
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      type="submit"
      class="btn"
      [mat-dialog-close]="true"
      mat-raised-button
      [disabled]="!f.valid"
      (click)="updateUser()"
    >
      Atualizar
    </button>
  </mat-dialog-actions>
</div>
