.row-1{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-left: 2px;
  }

.form{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mat-dialog-actions{
  justify-content: center;
}