<div class="container">

    <h3 mat-dialog-title>EDITAR MÁQUINA DE EXPERIÊNCIA </h3>
    
    <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

        <div class="form">
          <mat-form-field color="accent">
            <input matInput #input class="form-control" placeholder="Descrição" [(ngModel)]="expMach.description" name="descricao" required >

            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        
        <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Experiência por minuto" [(ngModel)]="expMach.expEachMinute" name="expEachMinute" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

          <div class="form">
            <label>Início automático *</label>
            <mat-radio-group class="radio1" [(ngModel)]="expMach.automaticStart" name="automaticStart " required placeholder="Ínicio automático">
                <mat-radio-button [value]="true">Sim</mat-radio-button>
                <mat-radio-button [value]="false">Não </mat-radio-button>
              </mat-radio-group>
            
          </div>
        

          
          <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Hora de início" [(ngModel)]="expMach.hourStart" name="hourStart"  required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        
          <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="Hora do fim" [(ngModel)]="expMach.hourEnds" name="hourEnds" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
        

          <!-- <div class="form">
            <mat-form-field color="accent">
              <input matInput #input class="form-control" placeholder="enabled" [(ngModel)]="expMach.enabled" name="enabled" required >
              <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div> -->

          <div class="form">
            <label>Ativa *</label>
            <mat-radio-group [(ngModel)]="expMach.enabled" name="enabled" required placeholder="Ativa">
                <mat-radio-button [value]="true">Sim</mat-radio-button>
                <mat-radio-button [value]="false">Não </mat-radio-button>
              </mat-radio-group>
           
          </div>



        <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="save(expMach.id)">Salvar</button>
        </div>

    </form>
</div>
