.header-image {
  background-image: url('../../../assets/img/logo.svg');
  background-size: cover;
  z-index: 1;
}
.content-bg {
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.content-img{
  width: 976px;
  height: 549px;
  background-image: url(../../../assets/img/fundo.jpg);
  background-size: cover;
  position: absolute;
  top: 109px;
  left: 195px;
}
.content-login{
  width: 486px;
  height: 549px;
  background-color:white;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
mat-icon.mat-card-avatar {
  width: 38px;
  height: 37px;
  border-radius: 0%;

}
mat-card-title{
  padding-top: 10px;
  padding-left: 8px;
}
.content-logo{
  display: flex;
  position:relative;
  top:41px;
  left: 147px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.content-acess{
  padding-top: 172px;
  padding-left: 36px;
}
h1{
  text-transform: uppercase;
}
.example-full-width {
  width: 378px;
  position: relative;
}

button{
  width: 378px;
  height: 40px;
  background-image: linear-gradient( to right,#0A78BE -10%,#63C1FF
  );
}




