<p>
  <mat-toolbar color="Basic" class="navbar" >

    <img src="../../../assets/icons/sword 2.svg" alt="logo" class="logo">

    <img src="../../../assets/icons/SHARP SWORD.svg" alt="logo" class="logo">

    <div class="intensNav">
      <a mat-button>Usuarios</a>
      <a mat-button routerLink="/itensServidor">Itens</a>
      <a mat-button routerLink="/avatar">Servers</a>
      <a mat-button>Pacotes</a>
      <a mat-button>Maquina de Experiencia</a>
      <a mat-button>Criar Servidor</a>
      <a mat-button>Perfil</a>
      <a mat-button routerLink="/avatar">Avatar</a>
      <a mat-raised-button color="primary">Sair</a>
    </div>
  </mat-toolbar>
</p>
