.card-form{
  width: 500px;
  height:400px;
  position: relative;

}
.card-form-title{
  font-size: 27px;
}
.normal-form{
  margin: 10px;
}
.controles-container{
  width: 400px;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.button-row button{
  margin: 5px;
}
